{"filter":false,"title":".gitignore","tooltip":"/sample_app/.gitignore","undoManager":{"mark":3,"position":3,"stack":[[{"group":"doc","deltas":[{"start":{"row":17,"column":0},"end":{"row":17,"column":1},"action":"insert","lines":["/"]}]}],[{"group":"doc","deltas":[{"start":{"row":17,"column":1},"end":{"row":17,"column":2},"action":"insert","lines":["."]}]}],[{"group":"doc","deltas":[{"start":{"row":17,"column":2},"end":{"row":17,"column":3},"action":"insert","lines":["c"]}]}],[{"group":"doc","deltas":[{"start":{"row":17,"column":3},"end":{"row":17,"column":4},"action":"insert","lines":["9"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":17,"column":4},"end":{"row":17,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1423266954687,"hash":"6393f4e7aa8428021ff76e1a1bc8cd766a8ecf81"}